.Dropdown {
  all: unset;
  display: flex;
  background-color: #202225;
  border-radius: 10px;
  height: 30px;
  width: 115px;
  color: white;
  cursor: pointer;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  transition-duration: 0.2s;
}

.DropdownTextContainer {
  display: flex;
  width: 90px;
}

.DropdownTextContainer::after {
  content: '';
  display: block;
  position: absolute;
  height: 14px;
  margin-left:75px;
  width: 15px;
  background-image: linear-gradient(to right, rgba(255,255,255,0), #202225);
  z-index: 2;
  pointer-events: none;
 }

.Dropdown p {
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
  padding-right: 0;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.DropdownChevron {
  margin-left: auto;
  transition: 0.2s;
}

.DropdownContents {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #202225;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  width: 130px;
  color: white;
  transition-duration: 0.1s;
  max-height: 400px;
  overflow-y: auto;
}

.DropdownContents::-webkit-scrollbar {
  width: 10px;
  height: 95%
}

.DropdownContents::-webkit-scrollbar-thumb {
  background-color: #37393f;
  border: solid 3px #202225;
  border-radius: 5px;
}

.DropdownContentsHidden {
  transform: scale(75%) translateY(-15px);
  opacity: 0;
  visibility: hidden;
}

.DropdownContents p {
  font-size: 12px;
  font-weight: 600;
  margin: 0px;
}

.DropdownItem {
  display: flex;
  align-items: center;
  color: white;

  background-color: #202225;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: 0.1s;
}

.DropdownItem:hover {
  background-color: #36383e;
}

.DropdownItemText {
  text-align: left;
}

