.DiscordStatusContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 16px;
}

.DSTopContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}
.StatusCircle {
  background-color: #aaaaaa;
  border-radius: 100px;
  width: 8px;
  height: 8px;
}

.SCConnected {
  background-color: #31ba58;
}

.SCFailed {
  background-color: #a02c2c;
}

.SCAttempting {
  background-color: #e6eb41;
}

.SCInvisible {
  background-color: transparent;
}

.DSRelaunchButton {
  all: unset;
  height: 16px;
  opacity: 0.75;
  transition: opacity 0.1s, transform 0.1s;
}

.DSRelaunchButton:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
}

.DSRelaunchButton:active {
  cursor: pointer;
  transform: scale(1);
}

.DSRelaunchButton img {
  height: 16px;
}
