.SettingsCheckboxContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.SettingsCheckbox {
  margin-left: auto;
  width: 16px;
  height: 16px;
}

.SettingsAppInfo {
  margin-right: auto;
}
